/* styles.css */

/* Estilos para centralizar o conteúdo */
.central-container {
    min-height: 40vh; /* Alterado para min-height para garantir flexibilidade */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para o sticky footer */
html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}
footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
}